:root {
  --blue: #92c9ca;
  --gray: #323540;
  --light-gray: #cccdce;
  --dark-blue: #1e4063;
}

* {
  box-sizing: content-box;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  width: 100%;
  height: 100%;
}

h1 {
  background-color: var(--blue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--gray);
}

p {
  margin-top: 20px;
}

/* Nav */

header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: var(--gray);
  padding: 20px;
}

li {
  display: inline-flex;
  padding-left: 25px;
}

a {
  text-decoration: underline;
  color: var(--blue);
  font-weight: bolder;
}

.page-wrapper {
  margin: 20px;
}

/* Hero Banner */
.hero-banner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  background-image: url("../images/02-hero-bg.jpg");
  height: 200px;
  margin-bottom: 50px;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-banner h3 {
  display: grid;
  grid-row-start: 3;
  color: var(--gray);
  background-color: var(--blue);
  justify-items: end;
  background-size: contain;
  width: fit-content;
  height: fit-content;
  grid-column-start: none;
}

/* About me Section */

.page-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 300px;
  row-gap: 20px;
  column-gap: 30px;
  margin-bottom: 20px;
}

h2 {
  font-size: 45px;
  display: grid;
  justify-content: flex-end;
  align-content: top;
  border-right: 5px solid gray;
  padding-right: 5px
}

p {
  display: grid;
  align-content: center;
  justify-content: center;
  margin: 10px;
}

/* Work Section */

.page-section-work {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 400px;
  grid-template-areas: 'work''work-image';
  row-gap: 20px;
  column-gap: 30px;
}

#work {
  display: grid;
  justify-content: flex-end;
  align-content: top;
}

#work-title {
  margin-bottom: -10px;
}

h4 {
  position: absolute;
  left: 390px;
  bottom: -372px;
  background-color: var(--blue);
}

.item1 {
  position: absolute;
  top: 100px;
  padding: 25px;
  max-width: 550px;
  z-index: 100;

}

.item3 {
  position: absolute;
  padding: 25px;
  max-width: 550px;
  z-index: 100;
}

.item4 {
  position: absolute;
  padding: 25px;
  max-width: 550px;
  z-index: 100;
}

.item5 {
  position: absolute;
  padding: 25px;
  max-width: 550px;
  z-index: 100;
}

.item1 h4 {
  position: relative;
  left: 468px;
  bottom: -891px;
}

.item2 h4 {
  position: relative;
  left: 482px;
  bottom: -98px;
  width: max-content;
}

.item3 h4 {
  position: relative;
  left: 932px;
  bottom: -71px;
  width: max-content;
  height: max-content;
}

.item4 h4 {
  position: relative;
  left: 457px;
  bottom: -241px;
  width: max-content;
  height: max-content;
}

.item5 h4 {
  position: relative;
  left: 934px;
  bottom: -245px;
  width: max-content;
  height: max-content;
}

.item1 a,
.item3 a,
.item2 a,
.item4 a,
.item5 a {
  text-decoration: none;
  color: var(--gray);
}

#work-image {
  display: grid;
  grid-area: 'work-image';
  background-image: url("../images/02-portfolio-4.jpg");
  background-size: cover;
  width: 100%;
  margin-right: 20px;
  height: auto;
  border: 6px solid var(--blue);
}

/* Work-Small-img-section */
.page-section-works-small {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 150px 150px;
  grid-template-areas:
  'title''small-img-1''title''small-img-2'
  '. . small-img-3''small-img-4';
  row-gap: 20px;
  column-gap: 30px;
}

#small-img-1 {
  display: grid;
  grid-area: 'small-img-1';
  background-image: url("../images/02-portfolio-1.jpg");
  background-size: cover;
  grid-column-start: 2;
  border: 6px solid var(--blue);
}

#small-img-2 {
  display: grid;
  grid-area: 'small-img-1';
  background-image: url("../images/02-portfolio-3.jpg");
  background-size: cover;
  grid-column-start: 3;
  border: 6px solid var(--blue);
}

#small-img-3 {
  display: grid;
  grid-area: 'small-img-1';
  background-image: url("../images/02-portfolio-4.jpg");
  background-size: cover;
  grid-column-start: 2;
  border: 6px solid var(--blue);
}

#small-img-4 {
  display: grid;
  grid-area: 'small-img-1';
  background-image: url("../images/02-run-buddy.jpg");
  background-size: cover;
  grid-column-start: 3;
  border: 6px solid var(--blue);
}

/* Contact-page-section */
.page-section-contact {
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 200px;
  display: grid;
  row-gap: 50px;
  column-gap: 40px;
}

.contact-footer {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  text-decoration: underline;
  padding: 0;
}

.contact-footer a {
  color: var(--gray);
}


/* ---------- Media Queries ------------ */

/* Responsive Main */
@media only screen and (max-width: 600px) {

  .page-section,
  .page-section-contact,
  .contact-footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

/* Work-Section */

@media only screen and (max-width: 600px) {
  .page-section-work {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 50px 90px;
    grid-template-areas: 'work''work-image';
    margin: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .item1 h4 {
    position: relative;
    left: -20px;
    bottom: -707px;
  }

@media only screen and (max-width: 600px) {
    .item2 {
    position: absolute;
    }

@media only screen and (max-width: 600px) {
    .item2 h4 {
      position: relative;
      left: 14px;
      bottom: -36px;
      width: max-content;
  }
}

@media only screen and (max-width: 600px) {
  .item3 h4 {
      position: relative;
      left: -10px;
      bottom: -122px;
      width: max-content;
      }
}

@media only screen and (max-width: 600px) {
  .item4 h4 {
      position: relative;
      left: -12px;
      bottom: -233px;
      width: max-content;
      }
}

@media only screen and (max-width: 600px) {
  .item5 h4 {
    position: relative;
    left: -13px;
    bottom: -344px;
    width: max-content;
  }
}

@media only screen and (max-width: 600px) {
  .page-section-work {
    background-size: cover;
  }
}

@media only screen and (max-width: 600px) {
  .page-section-works-small {
    display: grid;
    grid-template-columns: (auto-fit, minmax(1fr));
    grid-template-rows: 100px 100px 100px 100px;
    align-content: center;
    grid-auto-flow: dense;
    grid-gap: 10px;
  }
}

@media only screen and (max-width: 600px) {
  #small-img-1 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    margin: 10px;
  }
}

@media only screen and (max-width: 600px) {
  #small-img-2 {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    margin: 10px;
  }
}

@media only screen and (max-width: 600px) {
  #small-img-3 {
    grid-column-start: 1;
    grid-column-end: 4;
    margin: 10px;
  }
}

@media only screen and (max-width: 600px) {
  #small-img-4 {
    grid-column-start: 1;
    grid-column-end: 4;
    margin: 10px;
  }
}

@media only screen and (max-width: 600px) {
  body {
  width: 100%;
  }
}

/* Move separator */
@media only screen and (max-width: 600px) {
  h2 {
    display: flex;
    justify-content: flex-start;
    border-right: 0;
    border-bottom: 5px solid var(--gray);
  }
}

/* Responsive Header */

@media only screen and (max-width: 600px) {
  header {
    display: flex;
    flex-direction: column;
    height: 65px;
    padding-top: 0px;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  nav ul {
    display: inline-flex;
    font-size: 12px;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
  }
}